@charset "UFT-8";

body{
  box-sizing: border-box;
}
header{
  background-color: #ffcccc;
  width: 1000px;
}
#wrapper{
  display: flex;
  width: 1000px
}
#main{
  background-color: #ccffcc;
  width: 700px;
  float: left
}

#menu{
  background-color: #ccccff;
  width: 300px;
  float: left
}

footer{
  background-color: #ffccff;
  clear: both;
  width: 1000px;
}
